.product_checkbox_div {
  margin-left: 5%;
  width: 3%;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  input {
    margin-top: 1vw;
  }
}
.product_info_div {
  display: inline-block;
  width: 90%;
  .product_image {
    position: relative !important;
    width: 15%;
    height: 10vw;
    margin: 1vw 1vw;
    display: inline-block;
  }
  .product_info {
    margin-top: 2%;
    padding: 0 0;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    .input_count {
      text-align: center;
      width: 3vw;
      margin: 0 0.3vw;
    }
    .apply_count {
      margin-left: 0.5vw;
    }

    a {
      color: black;
      font-weight: bolder;
      text-decoration: none;
    }
  }
  .product_total_price {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
  }
}

.hr_normal {
  width: 90%;
}

.hr_lighter {
  border: 1px solid whitesmoke;
  width: 90%;
}

@media screen and (max-width: 780px) {
  .product_info_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .product_image {
      width: 80%;
      height: 80%;
      img {
        position: relative !important;
      }
    }

    .product_info {
      width: 90%;

      .input_count {
        width: 8vw;
      }

      .product_checkbox_div {
        width: fit-content;
        margin: 0 2% 0 0;
      }
    }

    .product_total_price {
      width: 100%;
      margin-right: 5%;
    }
  }
}
