$header-height: 5vh;
$header-fond-size: 0.8vw;

.header {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  font-size: $header-fond-size;
}

.nav {
  display: flex;
  line-height: $header-height;
  vertical-align: middle;
  align-items: center;

  a {
    height: $header-height;
    display: inline-block;
    margin-right: 2vw;
    text-decoration: none;
    color: black;
  }

  .left {
    width: 15vw;
    a {
      margin-left: 1vw;
      height: $header-height;
      line-height: $header-height;
      img {
        position: relative !important;
        vertical-align: middle;
      }
    }
  }

  .right {
    margin-left: auto;
  }
}
