$header-height: 8vh;
$header-fond-size: 0.8rem;

.header {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  font-size: $header-fond-size;
  height: $header-height;
}

.nav {
  display: flex;
  line-height: $header-height;
  vertical-align: middle;
  align-items: center;

  a {
    height: $header-height;
    display: inline-block;
    margin-right: 30px;
    text-decoration: none;
    color: black;
  }

  .left {
    width: 15rem;
    font-weight: bold;

    a {
      margin-left: 1rem;
    }
  }

  .right {
    margin-left: auto;
    width: 26rem;
  }
}
