$product_image_size: 10vw;
$font_size: 0.9vw;

.cart {
  font-size: $font_size;
  .cart_info_box {
    margin-left: 5%;
    font-weight: bold;
    font-size: 1.2vw;
  }
  .product_info_container {
    .product_list_box {
      width: 90%;
    }
  }
  .product_price_info_box {
    margin-left: 5%;
  }
  .selector_button_box {
    text-align: right;
    margin-right: 5%;
    button {
      margin: 1.2vw 1vw 1.2vw 0;
      margin-right: 1vw;
    }
  }
  .product_order_info {
    p {
      margin-left: 5%;
    }
    .product_order_box {
      display: flex;
      justify-content: space-between;
      margin-left: 5%;
      margin-right: 5%;
      line-height: 1.5vw;
    }
  }
  .product_buy_button_box {
    text-align: center;
    line-height: 5vw;
    button {
      width: 10vw;
      height: 3vw;
      font-size: 1.3vw;
    }
  }
}
