.html {
  height: 100%;

  body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 780px) {
  .html {
    body {
      justify-content: space-between;
    }
  }
}
