.home {
  background-color: ivory;

  :global(.carousel .carousel-status) {
    display: none;
  }

  :global(.control-dots > .dot) {
    background-color: black;
    width: 1rem;
    height: 1rem;
  }
}
