$footer-height: 13rem;
$footer-font-size: 0.8rem;

.footer {
  width: 70%;
  margin: 0 auto;
  font-size: $footer-font-size;
  height: $footer-height;
  background-color: black;
  color: white;
  display: flex;

  > div {
    margin-top: 3rem;
  }

  p {
    margin: 0;
    line-height: 1.2rem;
  }

  .left {
    width: 40%;

    div {
      margin-left: 2rem;
    }

    div:first-child {
      p {
        font-weight: bold;
        margin-bottom: 1rem;
      }
    }
  }

  .mid {
    width: 40%;
  }

  .right {
    width: 20%;

    div {
      display: flex;
      justify-content: flex-end;

      a {
        margin-right: 1rem;
        // height: $footer-icon-size;
      }

      a:last-child {
        margin-right: 3rem;
      }
    }
  }
}
