.about_wrapper {
  display: flex;
  margin-top: 10vh;
  flex-direction: column;
  word-break: keep-all;

  .flex_box {
    display: flex;
    flex-direction: row;
    margin-bottom: 25vh;

    .image_box,
    .image_box_first,
    .image_box_third,
    .image_box_fourth,
    .image_box_fifth {
      img {
        position: relative !important;
        width: 100%;
        height: auto;
      }
    }

    .text_box,
    .text_box_first,
    .text_box_third,
    .text_box_fourth,
    .text_box_fifth {
      margin: 10vh 2vw 10vh 2vw;
      line-height: 2;

      .title {
        font-size: 3rem;
      }

      .subtitle {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 6vh;
      }

      .title,
      .subtitle {
        line-height: 1;
        text-align: center;
      }

      .content {
        font-size: 1.25rem;
        word-break: break-all;
        text-align: justify;
        margin-bottom: 7vh;
      }
    }

    .image_box_first {
      width: 55vw !important;
    }
    .text_box_first {
      width: 45vw !important;
      margin-left: 4vw;
    }

    .image_box_third {
      width: 70vw !important;
    }
    .text_box_third {
      width: 30vw !important;
    }

    .image_box_fourth {
      width: 65vw !important;
    }
    .text_box_fourth {
      width: 35vw !important;
    }

    .image_box_fifth {
      width: 42vw !important;
    }
    .text_box_fifth {
      width: 48vw !important;
      padding-right: 5vw;
    }

    .full_image_box {
      width: 80vw;
      img {
        position: relative !important;
        width: 100%;
        height: auto;
      }
    }
  }

  .text_box_middle {
    text-align: center;
    margin: 0 0 25vh 0;

    .title {
      font-size: 3rem;
      font-style: normal;
      margin-bottom: 0vh;
    }
    .subtitle {
      font-size: 2rem;
      font-style: normal;
      margin-bottom: 5vh;
    }

    p {
      font-style: italic;
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 780px) {
  .about_wrapper {
    align-items: center;

    .flex_box {
      flex-direction: column;
      align-items: center;

      .text_box,
      .text_box_first,
      .text_box_third,
      .text_box_fourth,
      .text_box_fifth {
        width: 90% !important;
        padding: 0;

        .title {
          font-size: 1.5rem;
          line-height: 1.5;
        }
        .subtitle {
          font-size: 1.2rem;
          line-height: 1;
        }
      }

      .image_box,
      .image_box_first,
      .image_box_third,
      .image_box_fourth {
        width: 100% !important;
      }

      .image_box_fifth {
        width: 60% !important;
      }
    }

    .text_box_middle {
      width: 90%;

      .title {
        font-size: 1.2rem;
        line-height: 1.3;
      }
      .subtitle {
        font-size: 1.1rem;
        line-height: 1;
      }
    }
  }
}
