.input_box {
  margin: 1vw 0 1vw 0;
}
.phone_number {
  width: 3vw;
}
.email_id {
  width: 4vw;
}
.email {
  width: 8vw;
}
.zipcode {
  width: 6vw;
}
.zipcode_btn {
  width: 4vw;
}
.address {
  width: 40vw;
}
.request {
  width: 40vw;
}
