.transparent_background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
  z-index: 2;
}

.hamburger_button_wrapper {
  display: flex;
  margin-right: 2vw;

  .hamburger_button_image {
    height: 10vh;
    width: 10vw;
  }

  .menu_bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 45vw;
    height: 100vh;
    background-color: white;
    transition: all ease 0.5s;
    z-index: 3;
  }
}
