$footer-height: 15rem;
$footer-font-size: 0.8rem;

.main {
  flex: 1;
  width: 75%;
  margin: 0 auto;
}

@media screen and (max-width: 780px) {
  .main {
    flex: 0;
    margin-top: 15%;
    width: 100%;
  }
}
