@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.dropdown {
  display: inline-block;
  position: relative;

  .dropdownMenus {
    display: inline;
    position: absolute;
    text-align: left;
    width: max-content;
    top: 100%;
    left: 0;
    z-index: 2;
    height: max-content;
    background-color: white;
    box-shadow: 0 0.1vw 0.5vw rgba(0, 0, 0, 0.3);
    vertical-align: middle;
  }

  .mouseOn {
    visibility: visible;
    animation-duration: 0.3s;
    animation-name: fadein;
  }

  .mouseOut {
    visibility: hidden;
  }
}
